.dates{
  float: right;
  border: solid;
  border-width: thin;
  padding-right: 35px;
  margin-right: 100px;

}
h2.dates{
  text-align: center;
}
.about{
  margin-left: 20px;
  border: solid;
  border-width: thin;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;

}

.pics{
 width: 500px;
 padding-left: 150px;
}
.column{
  width: 300px;
  float: left;
}
ul li{
  list-style-type: none;
}
h1, h2{
  text-align: center;
  font-family: fantasy;
  text-decoration: underline;
}

p{
  padding-left: 15px;
  margin-left: 20px;
}
body{
  font-family: sans-serif;
  font-size: 20px;
  background-image: url("http://www.intrawallpaper.com/static/images/light_textured_backround_GnbGFCY.jpg");
}
